# Core
pandas==2.2.3
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
python-dotenv==1.0.1

# Validation
great-expectations==1.14.0
pyyaml==6.0.2

# API
flask==3.1.0
flask-cors==5.0.0

# CLI
click==8.1.8

# Dashboard
streamlit==1.41.1
plotly==5.24.1

# Alerts
requests==2.32.3

# Testing
pytest==8.3.4
pytest-cov==6.0.0

# Code Quality
flake8==7.1.1